<div class="ibox-title">
  <div>
    <strong>{{gpfs.company.name}} - {{gpfs.year}}</strong>
  </div>
  Progress {{gpfs.percentCompleted}}%
  <div class="progress">
    <div style="width: {{gpfs.percentCompleted" aria-valuemax="100"
      aria-valuemin="{{gpfs.percentCompleted}}" aria-valuenow="0"
      role="progressbar" class="progress-bar progress-bar-success"></div>
  </div>
  <h5>Fill up the Chart of Accounts</h5>
  <div class="clearfix"></div>
  <div>A list of the names of the accounts that a company has
    identified and made available for recording transactions in its
    general ledger</div>

  <div class="ibox-content collapse in">
    <div class="widgets-container">
      The COA is dead! Long live the COA!
    </div>

    <button class="btn-primary btn-xs" ng-init="shoa = false" ng-click="shoa = !shoa" title="the COA">{{shoa ? 'Hidea' : 'Shoa'}}</button>
    <pre ng-show="shoa" ng-click="shoa = false">{{gpfs.coa | json}}</pre>

    <table>
      <tr ng-repeat="fs1 in gpfs.coa.children">
        <td><a ui-sref="gpfs.update.fs-level-1({fsLevel1Id: fs1.id})">{{fs1.name}}</a></td>
      </tr>
    </table>
  </div>

      <div class="pull-right mt50">
        <button type="button" class="btn btn-default">Back to
          list</button>
        <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>