<div class="page-container ">
  <!-- Start page content wrapper -->
<div class="page-content-wrapper animated fadeInRight">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2>Create GPFS</h2>
          <ol class="breadcrumb">
            <li> <a ui-sref="dashboard1">Home</a> </li>
            <li> <a ui-sref="gpfs_list"> GPFS List </a> </li>
            <li class="active"> Create GPFS </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-8">
            <div class="ibox float-e-margins">
			  <ui-view></ui-view>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="ibox-content collapse in">
		      <div class="widgets-container">
                <h2>Need expert help? <br> Ask an accountant</h2>
                <div class="ibox float-e-margins">
          	      <p>This is a placeholder
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
