<div class="ibox-title">
  <div><strong>{{gpfs.company.name}} - {{gpfs.year}}</strong></div>
  Progress {{gpfs.percentCompleted}}%
  <div class="progress">
    <div style="width: {{gpfs.percentCompleted}}%" aria-valuemax="100" aria-valuemin="{{gpfs.percentCompleted}}" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-success"></div>
  </div>
  <h5>Corporate Information</h5>
  <div class="clearfix"></div>
  <div>Come on, hobbits. Long ways to go yet. Smeagol will show you the way.</div>
</div>
<div class="ibox-content collapse in">
  <div class="widgets-container">
  	<form ng-submit="next()" class="form-horizontal">

		<div class="row mb10" ng-repeat="qap in gpfs.notes[0].questions" ng-if="isActivated(qap)">
			<div class="col-md-2">{{qap.question.question}}</div>
			<div class="col-md-3">
				<select ng-model="qap.answer" ng-if="qap.question.type === 'YES_NO'" ng-change="updateTemplate(qap)" name="yes_no_{{$index}}" class="form-control" required>
					<option value="" disabled="disabled">Choose one...</option>
					<option>Yes</option>
					<option>No</option>
				</select>
				<input type="text" ng-model="qap.answer" ng-if="qap.question.type === 'IDENTIFICATION'" ng-change="updateTemplate(qap)" ng-readonly="qap.editTemplateMode"
					ng-required="!qap.editTemplateMode" placeholder="{{qap.question.sampleAnswer}}" class="form-control" />
			</div>
			<div class="col-md-6">
				<div class="col-md-10">
					<textarea msd-elastic ng-if="[100, 200].indexOf(qap.question.series) == -1" ng-model="qap.template" ng-readonly="!qap.editTemplateMode" class="form-control"
						required style="resize: vertical;"></textarea>
				</div>
				<div class="col-md-2">
					<button title="Toggle Edit template mode" type="button" ng-click="qap.editTemplateMode = !qap.editTemplateMode" ng-if="[100, 200].indexOf(qap.question.series) == -1" ng-class="{'btn-success': qap.editTemplateMode}" class="btn">
						<span class="fa fa-edit"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="row mb10">
			<div class="col-md-2">Principal Activity</div>
			<div class="col-md-3">
		        <ui-select ng-model="gpfs.principalActivity">
		          <ui-select-match placeholder="Select a Principal Activity...">{{$select.selected.activity}}</ui-select-match>
		          <ui-select-choices repeat="activity in principalActivities track by $index"
		               refresh="refreshPrincipalActivities($select.search)"
		               refresh-delay="1000">
		               <div ng-bind-html="activity.activity | highlight: $select.search"></div>
		               <div><small class="text-muted">{{activity.type}} - {{activity.subtype}}</small></div>
		          </ui-select-choices>
		        </ui-select>
		        <div style="margin-top: -18px; margin-left: 5px;">
		        	<input type="text" ng-model="gpfs.principalActivity" style="height: 0; margin-top: -10px;" required="required" name="pa_dummy" />
		        </div>
			</div>
		</div>

		<div class="pull-right mt50">
			<button type="button" class="btn btn-default">Back to list</button>
			<button type="button" ng-click="back()" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-primary">Next</button>
		</div>
	</form>
	<div class="clearfix"></div>
  </div>
</div>