<div id="schedule-30-table" class="col-md-12" ng-init="schedule = getSchedule(30)" ng-controller="ScheduleTableController">
	<table class="table table-striped">
		<caption>Movements in the present value of defined benefit obligations in the current period are as follows:</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>{{currentYear()}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in schedule.rows | limitTo: schedule.rows.length : 0">
				<td>{{row.cells[0].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[1].content}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Balance, currentYearPeriod()</th>
				<th>P</th>
				<th></th>			
			</tr>
		</tfoot>
	</table>
</div>
<script type="text/javascript">
$(function () {
	$('#schedule-30-table').editableTableWidget();
});
</script>