<div id="schedule-1-table" class="col-md-12" ng-init="schedule = getSchedule(1)" ng-controller="ScheduleTableController">
	<table class="table table-striped">
		<caption>Reconciliation  of Equity from PAS101 or Full IFRS to PFRS for SMEs</caption>
		<thead>
			<tr>
				<th></th>
				<th>Corp Info (January 1)</th>
				<th>January 1</th>
			</tr>
			<tr>
				<th></th>
				<th>2012</th>
				<th>2013</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in schedule.rows">
				<td ng-repeat="cell in row.cells">{{cell.content}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				<th>0</th>
				<th>0</th>
			</tr>
			<tr>
				<th>Total Equity from COA</th>
				<th>{{coaSumCy(3, 'Equity')}}</th>
				<th>{{coaSumPy(3, 'Equity')}}</th>
			</tr>
		</tfoot>
	</table>
</div>

<script type="text/javascript">
$(function () {
	$('#schedule-1-table').editableTableWidget();
});
</script>