<div id="schedule-47-table" class="col-md-12" ng-init="schedule = getSchedule(47)" ng-controller="ScheduleTableController">
	<table class="table table-striped">
		<caption>The Company has declared the following dividends to its equity holders:</caption>
		<thead>
			<tr>
				<th></th>
				<th colspan="4">Dividends Per Share</th>
				<th colspan="4">Total Dividends</th>
			</tr>
			<tr>
				<th></th>
				<th colspan="2">2013</th>
				<th colspan="2">2012</th>
				<th colspan="2">2013</th>
				<th colspan="2">2012</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in schedule.rows | limitTo: schedule.rows.length : 0">
				<td>{{row.cells[0].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[1].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[2].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[3].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[4].content}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>P</th>
				<th></th>			
				<th>P</th>
				<th></th>			
				<th>P</th>			
				<th></th>			
				<th>P</th>			
				<th></th>			
			</tr>
		</tfoot>
	</table>
</div>
<script type="text/javascript">
$(function () {
	$('#schedule-47-table').editableTableWidget();
});
</script>