<div id="schedule-29-table" class="col-md-12" ng-init="schedule = getSchedule(29)" ng-controller="ScheduleTableController">
	<table class="table table-striped">
		<caption>The amount included in the statements of financial position arising from the Company's obligations in respect of its defined benefit retirement benefit plans as follows:</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>{{currentYear()}}</th>
				<th></th>
				<th>2012</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in schedule.rows | limitTo: schedule.rows.length : 0">
				<td>{{row.cells[0].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[1].content}}</td>
				<th><span ng-if="$index==0">P</span></th>
				<td>{{row.cells[2].content}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Net liability arising from defined benefit obligation</th>
				<th>P</th>
				<th></th>			
				<th>P</th>
				<th></th>			
			</tr>
		</tfoot>
	</table>
</div>
<script type="text/javascript">
$(function () {
	$('#schedule-29-table').editableTableWidget();
});
</script>