<div class="col-md-12" ng-init="schedule = getSchedule(1)"
  ng-controller="ScheduleTableController">
  <table id="schedule-1-table" class="table table-striped">
    <caption>Reconciliation of Equity from PAS101 or Full IFRS
      to PFRS for SMEs</caption>
    <thead>
      <tr>
        <th></th>
        <th>Corp Info (January 1)</th>
        <th>January 1</th>
      </tr>
      <tr>
        <th></th>
        <th>2012</th>
        <th>2013</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in schedule.rows">
        <td ng-repeat="cell in row.cells">{{cell.content}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th><strong>Total equity under PFRS for SME</strong></th>
        <th>{{coaSumCy(3, 'Equity')}}</th>
        <th>{{coaSumPy(3, 'Equity')}}</th>
      </tr>
      <tr>
        <th></th>
        <th>{{sum(1)}}</th>
        <th>{{sum(2)}}</th>
      </tr>
    </tfoot>
  </table>
</div>